NEXT_PUBLIC_SENDGRID_API_KEY=your-sendgrid-api-key
NEXT_PUBLIC_SENDGRID_EMAIL=your-email@example.com

# Following env variables should be replaced with your own hosted github stats 

NEXT_PUBLIC_GITHUB_STATS_URL="https://github-readme-stats.vercel.app"
NEXT_PUBLIC_GITHUB_STREAK_STATS_URL="https://github-readme-streak-stats.herokuapp.com"

